{% extends 'base.html' %}
{% from "macro/formhelpers.html" import render_field %}
{% block title %}Регистрация{% endblock %}
{% block body %}
    <h1>Регистрация</h1>
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
    <form method="POST">
        {# csrf protection #}
        {{ form.csrf_token() }}
        {# show inputs #}
        {% for field in ['name', 'surname', 'username', 'email', 'password', 'confirm'] %}
            {{ render_field(form[field]) }}
        {% endfor %}
        {# submit #}
        <div>
            {{ form.submit(class="btn btn-primary btn-lg") }}
        </div>
    </form>
<p>или</p>
<p>
<a class="link" href={{ url_for('auth.login') }}>Войти</a>

{% endblock %}







